.breadcrumbs {
  height: 150px;
  background-color: #f8f3f4;
}

.breadcrumbs-content {
  height: 100%;
  align-items: center;
}
.breadcrumbs-content h2 {
  font-size: 24px;
  font-weight: 900;
  color: #f16d7f;
  text-transform: uppercase;
}
.breadcrumbs-content p {
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  text-transform: uppercase;
}
.breadcrumbs-content p span {
  color: #f16d7f;
  font-weight: 700;
}

.single-page-banner {
  height: 777px;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
}
.single-page-banner__images {
  position: relative;
}
.single-page-banner__images img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.single-page-cart__add-to-cart {
  padding: 72px 0 122px;
  width: 100%;
  height: 720px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  transform: translateY(-85px);
}
.single-page-cart__add-to-cart .product-info {
  max-width: 620px;
  margin: auto;
  margin-bottom: 44px;
}
.single-page-cart__add-to-cart .product-info__category {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  text-align: center;
  margin-bottom: 12px;
}
.single-page-cart__add-to-cart .product-info__title h3 {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  text-align: center;
  margin-bottom: 64px;
}
.single-page-cart__add-to-cart .product-info__about {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  row-gap: 24px;
}
.single-page-cart__add-to-cart .product-info__about p {
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 14px;
  font-weight: 300;
  color: #5e5e5e;
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
}
.single-page-cart__add-to-cart .product-info__about-material {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-right: 22px;
  text-align: end;
}
.single-page-cart__add-to-cart .product-info__about-designer {
  grid-column-start: 3;
  grid-column-end: 5;
  margin-left: 22px;
  text-align: start;
}
.single-page-cart__add-to-cart .product-info__about-price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 8px;
  grid-column-start: 1;
  grid-column-end: 5;
  -moz-text-align-last: center;
       text-align-last: center;
  color: #f16d7f;
}
.single-page-cart__add-to-cart .product-info__about-material, .single-page-cart__add-to-cart .product-info__about-designer {
  font-size: 14px;
  font-weight: 700;
  color: #b9b9b9;
}
.single-page-cart__add-to-cart .product-info__about-material span, .single-page-cart__add-to-cart .product-info__about-designer span {
  color: #2f2f2f;
}
.single-page-cart__add-to-cart .carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.single-page-cart__add-to-cart .carousel__line {
  width: 63px;
  height: 1px;
  background-color: #eaeaea;
}
.single-page-cart__add-to-cart .carousel .carousel-active {
  height: 3px;
  background-color: #f16d7f;
}
.single-page-cart__add-to-cart hr {
  max-width: 620px;
  height: 1px;
  margin: auto;
  margin-bottom: 60px;
  background-color: #eaeaea;
  border: none;
}
.single-page-cart__add-to-cart .product-select {
  max-width: 540px;
  margin: auto;
}
.single-page-cart__add-to-cart .product-select__params {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.single-page-cart__add-to-cart .product-select__params .choose-color h4,
.single-page-cart__add-to-cart .product-select__params .choose-size h4,
.single-page-cart__add-to-cart .product-select__params .quantity h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.single-page-cart__add-to-cart .product-select__params .choose-color select,
.single-page-cart__add-to-cart .product-select__params .choose-color input,
.single-page-cart__add-to-cart .product-select__params .choose-size select,
.single-page-cart__add-to-cart .product-select__params .choose-size input,
.single-page-cart__add-to-cart .product-select__params .quantity select,
.single-page-cart__add-to-cart .product-select__params .quantity input {
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  padding-left: 16px;
}
.single-page-cart__add-to-cart .product-select__params .choose-color select:focus-visible,
.single-page-cart__add-to-cart .product-select__params .choose-color input:focus-visible,
.single-page-cart__add-to-cart .product-select__params .choose-size select:focus-visible,
.single-page-cart__add-to-cart .product-select__params .choose-size input:focus-visible,
.single-page-cart__add-to-cart .product-select__params .quantity select:focus-visible,
.single-page-cart__add-to-cart .product-select__params .quantity input:focus-visible {
  padding-left: 16px;
  outline: none;
}
.single-page-cart__add-to-cart .product-select__add-btn {
  display: flex;
  flex-direction: row;
  padding: 16px;
  justify-content: center;
  align-items: center;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  cursor: pointer;
}
.single-page-cart__add-to-cart .product-select__add-btn .cart-icon {
  width: 25px;
  height: 25px;
  margin-right: 14px;
  background-image: url("./../img/cart-pink.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.single-page-cart__add-to-cart .product-select__add-btn:hover {
  background-color: #f16d7f;
  color: #ffffff;
}
.single-page-cart__add-to-cart .product-select__add-btn:hover .cart-icon {
  background-image: url("./../img/cart-white.png");
}
.single-page-cart__like-also {
  margin-bottom: 72px;
}
.single-page-cart__like-also h3 {
  font-size: 24px;
  font-weight: 900;
  color: #4d4d4d;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 72px;
}
.single-page-cart__like-also .products-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
  justify-items: center;
}
.single-page-cart__like-also .products-cards .product-card {
  width: 262.5px;
}
.single-page-cart__like-also .products-cards .product-card__image {
  width: 100%;
  background-color: #e9e9e9;
  text-align: center;
  margin-bottom: 18px;
}
.single-page-cart__like-also .products-cards .product-card__info {
  margin-left: 14px;
  text-transform: uppercase;
}
.single-page-cart__like-also .products-cards .product-card__info h5 {
  font-size: 14px;
  font-weight: 500;
  color: #6f6e6e;
  margin-bottom: 18px;
}
.single-page-cart__like-also .products-cards .product-card__info p {
  font-size: 16px;
  font-weight: 700;
  color: #f16d7f;
  margin-bottom: 20px;
}
.single-page-cart__like-also .products-cards .product-card:hover {
  transform: scale(1.05);
  outline: 1px solid #eaeaea;
}/*# sourceMappingURL=single-page.css.map */